/*stylesheet*/
/* acme-regular - latin */
@font-face {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/acme-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Acme'), local('Acme-Regular'),
       url('fonts/acme-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/acme-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/acme-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/acme-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/acme-v5-latin-regular.svg#Acme') format('svg'); /* Legacy iOS */
}

.no-padding-left{
  padding-left:0px!important;
}
.no-padding-right{
  padding-right:0px!important;
}
.no-padding-bottom{
  padding-bottom:0px!important;
}
.no-padding-top {
  padding-top:0px!important;
}
.no-padding{
  padding:0px!important;
}
/****************header*******************/
.navbar-header.sub-title{
  
  
}
.navbar-header a:hover{
  text-decoration: none;
}
.navbar-header .sub-title a{
  /*font-weight:700;*/
  font-family: Acme,sans-serif;
    font-size: 15px;
    color:#000;
}
#main .navbar-brand{
  height:auto;
  padding-left:0px;
  padding-right:0px;
  padding-bottom:0px;
}
#main .navbar-brand img{
  padding-right:42px;
}
#main .navbar-brand span{
  font-family: Acme,sans-serif;
  font-size: 30px; 
  color: #000000;
  
}
header .navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

/*header .navbar-nav > li {
    display: inline-block;
    float:none;
}*/
header .navbar-brand{
    margin-bottom: 5px;
    margin-top: 5px;
}
header .navbar{
  background-color:#02008b;
}

header .form-control{
  background-color: #efefef;
    border-color: #efefef;
    box-shadow: none;
}

header form .btn-default{
  background-color: #efefef;
    border-color: #efefef;
}
header .top-sect .help-box {
    float: right;
}
header form .form-control:focus{
  background-color: #efefef;
    border-color: #efefef;
    box-shadow:none;}
.help-box{padding-top:21px;}
.help-box .navbar-form{
  margin-top: 0px;
  margin-right: 11px;
}
.help-box .glyphicon-envelope ,.help-box .glyphicon-earphone{
  
  color:#020151;
}
.help-box .row span {
    color: #02008b;
    font-size: 13px;
    font-weight: 700;
    margin-left: 16px;
}
.help-box .row span i{padding-right:5px;}
.help-box .row form{
  margin-right:10px;
}
.help-box .row {
  margin-right:10px;
}

.help-box .glyphicon-envelope{padding-top: 9px;}
.help-box span{padding-top: 9px;
font-size: 17px;
color:#02008b;}
.help-box span i{
  padding:0 2px 0 19px;
    
}
.help-box .btn-default:hover{
  border-color:#efefef;
  background:#efefef;
}
.requestquote{
  display:block;
    font-family: Acme,sans-serif;
}
header .row{
  margin:0px;
}
section .row{
  margin:0px;
}
footer .row{
  margin:0px;
}
.homepage .row:first-child{
  padding-left:0px;
}
.homepage .row:last-child{
  padding-left:0px;
}
.top-sect{margin-bottom:6px;}
/***********navbar************************/
nav .navbar-nav > li {   display: inline-block;
    float: none;
}
 width: 56%;}
.dropdown-menu > li.kopie > a {
    padding-left:5px;
}
 
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
 }
  
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: underline;
}  
 @media (max-width:480px) { 
  .dropdown-menu > li > a:hover, .dropdown-menu > .active{
    
  }
 }
@media (max-width: 767px){
  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}
 
 
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}  

/********************************search****************************/
 #custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
    
    /***************************page*****************************/
   .homepage .row img{
 
    height: 69%;
    width: 100%;
   }
  .homepage .porduct-pic .thumbnail {
   height: 199px;
}
 .homepage .thumbnail a , .homepage .thumbnail h4{
  color:#000000;
  font-size:14px;
  
 }
 .homepage .thumbnail a:hover{
  text-decoration: none;
}
.homepage [class*="col-"]{
  padding-right:5px;
  padding-left:5px;
}
article h1{
   line-height: 8px;
  color:#333;
  font-weight:200;
  font-family: Acme,sans-serif;
  margin-bottom:0px
}
/*Added By Thangam*/
.thumbnail .pro_img_curve{
  border-radius: 10px;
  padding: 5px;
    /*border: 2px solid #73AD21;*/
}
article .bot_size{
  font-size: 16px;
}
/*Ended By Thangam*/
article .bot-border {
  color:#333;
   font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;

}
.homepage .clients , .homepage .thumbnail {
  border:none;
  box-shadow: 0 2px 2px #dbdbdb;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
      
    -webkit-box-shadow: 0 2px 2px #dbdbdb;
    -moz-box-shadow: 0 2px 2px #dbdbdb;
}
.homepage .clients {
  padding:25px;
}
body{
  background-color:#eeeeee!important;
}
header{
  background-color:#ffffff;
}

.requestquote .btn-link{
  background:#d31900;
  color:#fff;
  border-radius:5%;
  padding-bottom: 5px;/*Added By Thangam*/
  padding-top: 5px;/*Added By Thangam*/
}
.requestquote .btn-link:focus ,.requestquote  .btn-link:hover {
  background:#d31900;
  color:#fff;
  border-radius:3%;
    text-decoration:none;
}

/***********************flats page***************/
.page-wrap .breadcrumb > li + li:before {
   color: #333;
   
   content: ">> ";
   padding: 0 5px;
}
.page-wrap .breadcrumb{
  background:none;
  font-size:12px;
  padding:0px;
}
.page-wrap .breadcrumb li a{
color:#333;
}
.container .page .jumbotron{
  padding:40px  31px;
}

.page-wrap .thumbnail {
    -moz-box-shadow:0 4px 1px #eaeaea;
    -webkit-box-shadow: 0 4px 1px #eaeaea;
    -khtml-box-shadow: 0 4px 1px #eaeaea;
    box-shadow:0 4px 1px #eaeaea;
}
.page-wrap img{
   width: 100%;
  
}
.page-wrap h1{
font-family: Acme,sans-serif;}

.page-wrap .panel-group .panel-heading a{  padding: 15px 44px;}

.page-wrap .panel-group .panel-heading a::after{  right: 44px;}

.page-wrap  .panel-group .panel-body{
  padding:40px 31px;
}

.page-wrap .requestquote{
  
    padding-left: 15px;
}
.page-wrap .requestquote button{
  margin-right:15px;
  margin-top: 25px;
  width: 195px;
}
.page-wrap p {
    font-size: 21px;
    font-weight: 200;
    margin-bottom: 15px;}
    
    
/*****accordion*****/


.panel-group .panel-heading + .panel-collapse > .panel-body {
    border: 1px solid #ddd;
}
.panel-group, .panel-group .panel, .panel-group .panel-heading, .panel-group .panel-heading a, .panel-group .panel-title, .panel-group .panel-title a, .panel-group .panel-body, .panel-group .panel-group .panel-heading + .panel-collapse > .panel-body {
    border: 0 none;
    border-radius: 2px;
}
.panel-group .panel-heading {
    padding: 0;
}
.panel-group .panel-heading a {
    background: #4a5cff none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    padding: 15px;
    position: relative;
    text-decoration: none;
}
.panel-group .panel-heading a.collapsed {
    background: #4a5cff none repeat scroll 0 0;
    color: #FFFFFF;
}
.panel-group .panel-heading a::after {
    content: "-";
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 5px;
}
.panel-group .panel-heading a.collapsed::after {
    content: "+";
}
.panel-group .panel-collapse {
    /*margin-top: 5px !important;*/
}
.panel-group .panel-body {
    background: #ffffff none repeat scroll 0 0;
    padding: 15px;
}
.panel-group .panel {
    background-color: transparent;
}
.panel-group .panel-body p:last-child, .panel-group .panel-body ul:last-child, .panel-group .panel-body ol:last-child {
    margin-bottom: 0;
}
#accordion .panel-default{
  background-color:#333333;
  margin:0px;
  border: 1px solid #6c6c6c;
  border-radius:0px;
  
}
#accordion{
  margin-top:30px;
}


/********************Square page***********/
.requestquote .contact-but{
  background-color:#ffffff;
  border:1px solid #9b9b9b;
  color:#000000;
  width:150px;
}
.requestquote .contact-but:hover{
  background-color:#ffffff;
  border:1px solid #9b9b9b;
  color:#000000;}
.requestquote .contact-but:focus, .requestquote .contact-but:hover{background-color:#ffffff;
  border:1px solid #9b9b9b;
  color:#000000;}
  
/***********************footer************/
.footer-bg{
  background-color:#fff;
  padding:21px 0;
}
footer{ 
  
  
}
.copy {
    margin-top: 13px;
}
footer .iso img{
  float:right;
   width: 63px;
  
}
footer .iso{
  padding-right:0px;
}
footer .iso .col-sm-9{/*padding-top:24px;*/}
footer .iso span{float:left;}

/*.footer-nav li::after {
    color: #000;
    content: "|";
    margin-left: 8px;
    margin-right: 8px;
  
}*/
.footer-nav li:last-child {
  content:"";
}
.footer-nav li {
 
    line-height:20px;
}
.footer-nav li a{
  color:#333;
}
.footer-nav .nav > li:first-child > a {
  padding-left:0px;
}
.footer-nav .nav > li > a {
  display: inline;
  padding:3px 7px;
}
footer .address-col{
  padding-left:0px;
}
footer{
  margin-top:25px;
}
footer .footer-nav li a:hover{
  background:none;
}
nav #navbar li a{
  color:#fff;
}
nav #navbar .active a{
color:#000; 

}
nav #navbar li ul li a{
  color:#000;
}

.footer-nav .nav-pills > li{
  float:none;
  display:inline-block;
}
.footer-nav{
  margin-top:10px;
}

/**************************media*************/
@media (max-device-width:480px){
  footer .col-xs-12{
    text-align: center;
    
  }
  footer .iso img{
    float:none;
  }
  .footer-nav li {
 
    line-height:35px;
}
nav .navbar-nav > li{
  
}
}
